<div>
<h3> Sign in </h3>
</div>

<div>

  <form class="sign-in-form" [formGroup]="form">

      <div>
      <mat-input-container floatPlaceholder="always" style="width: 100%">
        <input matInput placeholder="Email Address:" formControlName="email">
      </mat-input-container>
      </div>

      <div>
      <mat-input-container floatPlaceholder="always" style="width: 100%">
        <input matInput type="password" placeholder="Password:" formControlName="password">
      </mat-input-container>
    </div>

    <button mat-raised-button color="primary" (click)="signIn()">Login</button><br><br>
    <a mat-button color="accent" routerLink="/reset-password">Forget Your Password?</a><br>
    <a mat-button color="primary" routerLink="/sign-up">Create An Account</a>

  </form>

</div>
