<json-ld [json]="jsonLdSchema"></json-ld>

<div class="center-everything">
    <h3> Sign in </h3>
</div>

<div class="center-everything" style="margin: 1em; flex-wrap: wrap;">
    <a color="primary" mat-button style="margin: 1em;" routerLink="/social-sign-in">
        Social Sign In Options
        <img src="/assets/Gmail_icon.svg" style="max-height: 1.25em; margin-left: 10px;" />
        <img src="/assets/Facebook_icon.svg" style="max-height: 1.25em; margin-left: 10px;" />
    </a>
</div>

<div class="center-everything">
    <form class="sign-in-form" [formGroup]="form" style="min-width: 80%" autocomplete="off" (ngSubmit)="signIn()">

        <div style="margin: 1em">
            <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="Email Address:" formControlName="email">
            </mat-form-field>
        </div>

        <div style="margin: 1em; display: flex; flex-direction: row; align-items: center;" *ngIf="!showPassword">
            <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput type="password" placeholder="Password:" formControlName="password">
            </mat-form-field>
            <mat-icon (click)="toggleShowPassword()" style="margin-left: .5em;">visibility</mat-icon>
        </div>

        <div style="margin: 1em; display: flex; flex-direction: row; align-items: center;" *ngIf="showPassword">
            <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="Password:" formControlName="password">
            </mat-form-field>
            <mat-icon (click)="toggleShowPassword()" style="margin-left: .5em;">visibility_off</mat-icon>
        </div>     

        <div class="center-everything" style="margin: 1em; margin-bottom: 2em;">
            <re-captcha formControlName="recaptcha" #recaptcha></re-captcha> 
        </div>              

        <div class="center-everything" style="margin: 1em">
            <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
        </div>

        <div class="center-everything" style="margin: 1em">
            <a mat-button color="accent" routerLink="/request-password-reset">Forget Your Password?</a>
        </div>

        <div class="center-everything" style="margin: 1em">
            <a mat-button color="primary" routerLink="/create-account">Create An Account</a>
        </div>

    </form>
</div>

