<div class="center-everything">
    <h3> Request Password Reset </h3>
</div>

<div class="center-everything">
    <form class="request-password-reset-form" [formGroup]="form" style="min-width: 80%" autocomplete="off" (ngSubmit)="requestPasswordReset()">

        <div style="margin: 1em">
            <mat-input-container floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="Email Address:" formControlName="email">
            </mat-input-container>
        </div>

        <div class="center-everything" style="margin: 1em; margin-bottom: 2em;">
            <re-captcha formControlName="recaptcha" #recaptcha></re-captcha> 
        </div>           

        <div class="center-everything" style="margin: 1em">
            <button mat-raised-button color="primary" [disabled]="requestSent || form.invalid">Request Password Reset</button>
        </div>

    </form>
</div>