<div style="display:flex; min-height: 100vh; flex-direction: column;">

	<nav md-tab-nav-bar>
		<a mdTabLink
			 routerLink="/"
			 routerLinkActive #rla="routerLinkActive"
			 [active]="rla.isActive"
			 [routerLinkActiveOptions]="{exact:true}">
			 Home<md-icon style="padding-left: .3em">home</md-icon>
		</a>	
		<a mdTabLink
			 *ngFor="let view of views"
			 [routerLink]="view.link"
			 routerLinkActive #rla="routerLinkActive"
			 [active]="rla.isActive"
			 >
			 {{view.name}}<md-icon style="padding-left: .3em">{{view.icon}}</md-icon>
		</a>
	</nav>	

	<div style="flex: 1; margin: 1em">
		<router-outlet></router-outlet>
	</div>

	<div>
		<md-toolbar>

		</md-toolbar>
	</div>
</div>
