<div style="display:flex; min-height: 100vh; flex-direction: column;">

	<nav mat-tab-nav-bar>
		<a matTabLink
			 routerLink="/"
			 routerLinkActive #rla="routerLinkActive"
			 [active]="rla.isActive"
			 [routerLinkActiveOptions]="{exact:true}">
			 Home<mat-icon style="padding-left: .3em">home</mat-icon>
		</a>	
		<a matTabLink
			 *ngFor="let view of views"
			 [routerLink]="view.link"
			 routerLinkActive #rla="routerLinkActive"
			 [active]="rla.isActive"
			 >
			 {{view.name}}<mat-icon style="padding-left: .3em">{{view.icon}}</mat-icon>
		</a>
	</nav>	

	<div style="flex: 1; margin: 1em">
		<router-outlet></router-outlet>
	</div>

	<div>
		<mat-toolbar>

		</mat-toolbar>
	</div>
</div>
