<json-ld [json]="jsonLdSchema"></json-ld>

<div class="center-everything">
    <h3> Reset Password </h3>
</div>

<div class="center-everything">
    <form class="reset-password-form" [formGroup]="form" style="min-width: 80%" autocomplete="off">

        <div style="margin: 1em; display: flex; flex-direction: row;" *ngIf="!showPassword">
            <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput type="password" placeholder="New Password:" formControlName="password">
            </mat-form-field>
            <span> <button mat-icon-button (click)="toggleShowPassword()"><mat-icon>visibility</mat-icon></button> </span>
        </div>         

        <div style="margin: 1em; display: flex; flex-direction: row;" *ngIf="showPassword">
            <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="New Password:" formControlName="password">
            </mat-form-field>
            <span> <button mat-icon-button (click)="toggleShowPassword()"><mat-icon>visibility_off</mat-icon></button> </span>
        </div>       

        <div class="center-everything" style="margin: 1em">
            <button mat-raised-button color="primary" (click)="resetPassword()" [disabled]="requestSent">Reset Password</button>
        </div>

    </form>
</div>