<h3 class="center-everything">
	Link Social Sign In
</h3>

<div class="center-everything" style="margin: 1em; flex-wrap: wrap;">
    <a color="primary" mat-button style="margin: 1em;" (click)="signInWithGoogle()" *ngIf="!hasGoogleAuthProvider">Sign in with Google<img src="/assets/Gmail_icon.svg" style="max-height: 1.25em; margin-left: 10px;" /></a>
    <a color="primary" mat-button style="margin: 1em;" (click)="signInWithFacebook()" *ngIf="!hasFacebookAuthProvider">Sign in with Facebook<img src="/assets/Facebook_icon.svg" style="max-height: 1.25em; margin-left: 10px;" /></a>
</div>
