<div class="center-everything">
    <h3> Account Management </h3>
</div>

<h5 class="center-everything">Log Out:</h5>
<div class="center-everything">
	<button mat-raised-button color="warn" (click)="logout()"> Log Out </button>
</div>

<h5 class="center-everything">User Details:</h5>
<div class="center-everything" style="margin: 2em; flex-direction: column">
	<p>Email: {{user.email}}</p>
	<p>User ID: {{user.id}}</p>
	<p>Roles: {{user.roles}}</p>
	<p *ngFor="let provider of user.authProviders">{{provider}}</p> 
</div>

<ng-container *ngIf="hasEmailAndPasswordAuthProvider">
	<h5 class="center-everything"> Change Password: </h5>
	<div *ngIf="!showChangePassword" class="center-everything"><button mat-button color="accent" (click)="toggleShowChangePassword()">Change Password</button></div>
	<div *ngIf="showChangePassword" class="center-everything"><button mat-button color="warn" (click)="toggleShowChangePassword()">Cancel</button></div>
	<app-change-password *ngIf="showChangePassword" (passwordChanged)="toggleShowChangePassword()"></app-change-password>
</ng-container>

<ng-container>
	<h5 class="center-everything"> Alternate Login Methods: </h5>
	<div class="center-everything"><button mat-raised-button color="primary" (click)="linkProviderToAccount()">link provider to account</button></div>
</ng-container>


<h5 class="center-everything">Delete Account:</h5>
<div class="center-everything">
	<button mat-button color="warn" routerLink='/delete-account'> Delete Account </button>
</div>