<div class="center-everything">
    <h3> Account Management </h3>
</div>

<h5 class="center-everything">Log Out:</h5>
<div class="center-everything">
	<button mat-raised-button color="warn" (click)="logout()"> Log Out </button>
</div>

<h5 class="center-everything">User Details:</h5>
<div class="center-everything" style="margin: 2em; flex-direction: column">
	<p>Email: {{user.email}}</p>
	<p>User ID: {{user.id}}</p>
	<p>Roles: {{user.roles}}</p>
	<p *ngFor="let provider of user.authProviders">{{provider}}</p> 
</div>

<ng-container *ngIf="hasEmailAndPasswordAuthProvider">
	<h5 class="center-everything"> Change Password: </h5>
	<div *ngIf="!showChangePassword" class="center-everything"><button mat-button color="accent" (click)="toggleShowChangePassword()">Change Password</button></div>
	<div *ngIf="showChangePassword" class="center-everything"><button mat-button color="warn" (click)="toggleShowChangePassword()">Cancel</button></div>
	<app-change-password *ngIf="showChangePassword" (passwordChanged)="toggleShowChangePassword()"></app-change-password>
</ng-container>

<ng-container *ngIf="!hasGoogleAuthProvider || !hasFacebookAuthProvider || !hasEmailAndPasswordAuthProvider">
	<h5 class="center-everything"> Alternate Login Methods: </h5>
	<div class="center-everything" style="flex-direction: column;">
		<p *ngIf="!hasEmailAndPasswordAuthProvider" style="margin: 1em;"> <button mat-button color="accent" routerLink="/account/link-email-and-password">Link Email and Password</button> </p>
		<p *ngIf="!hasGoogleAuthProvider || !hasFacebookAuthProvider" style="margin: 1em;"> 
			<button mat-button color="accent" routerLink="/account/social/link-social-to-account"> 
				Link Social Sign In 
				<img *ngIf="!hasGoogleAuthProvider" src="/assets/Gmail_icon.svg" style="max-height: 1.25em; margin-left: 10px;" /> 
				<img *ngIf="!hasFacebookAuthProvider" src="/assets/Facebook_icon.svg" style="max-height: 1.25em; margin-left: 10px;" />
			</button> 
		</p>
	</div>

</ng-container>


<h5 class="center-everything">Delete Account:</h5>
<div class="center-everything">
	<button mat-button color="warn" routerLink='/delete-account'> Delete Account </button>
</div>