<div class="center-everything">
    <form class="change-password-form" [formGroup]="form" style="min-width: 80%" autocomplete="off">

        <div style="margin: 1em; display: flex; flex-direction: row;" *ngIf="!showOldPassword">
            <mat-input-container floatPlaceholder="always" style="width: 100%">
                <input matInput type="password" placeholder="Old Password:" formControlName="oldPassword">
            </mat-input-container>
            <span> <button mat-icon-button (click)="toggleShowOldPassword()"><mat-icon>visibility</mat-icon></button> </span>
        </div>         

        <div style="margin: 1em; display: flex; flex-direction: row;" *ngIf="showOldPassword">
            <mat-input-container floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="Old Password:" formControlName="oldPassword">
            </mat-input-container>
            <span> <button mat-icon-button (click)="toggleShowOldPassword()"><mat-icon>visibility_off</mat-icon></button> </span>
        </div>  

        <div style="margin: 1em; display: flex; flex-direction: row;" *ngIf="!showNewPassword">
            <mat-input-container floatPlaceholder="always" style="width: 100%">
                <input matInput type="password" placeholder="New Password:" formControlName="newPassword">
            </mat-input-container>
            <span> <button mat-icon-button (click)="toggleShowNewPassword()"><mat-icon>visibility</mat-icon></button> </span>
        </div>         

        <div style="margin: 1em; display: flex; flex-direction: row;" *ngIf="showNewPassword">
            <mat-input-container floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="New Password:" formControlName="newPassword">
            </mat-input-container>
            <span> <button mat-icon-button (click)="toggleShowNewPassword()"><mat-icon>visibility_off</mat-icon></button> </span>
        </div>               

        <div class="center-everything" style="margin: 1em">
            <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
        </div>

    </form>
</div>